<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'bigscreen.css' %}">

        <title>Add Friends</title>
    </head>
    <body>
        <div class="bg">
            <div class="one">
                <ul class="nav justify-content-center">
                    <li class="home">
                        <a class="nav-link" href="{% url 'homepage:index' %}">home</a>
                    </li>
                </ul>
            </div>
            <div class="container" style="max-width: 70%; display: flex; justify-content: center; align-items: center; margin-top: 0%;">
                <div class="row-12">
                    <div class="col" style="text-align: center;">
                        <h1 style="color: white;">
                            Add yourself
                        </h1>
                    </div>
                    <form action="{% url 'homepage:message' %}" method="POST" class="col">
                        {% csrf_token %}
                        <!-- <input type="text" name="display_name" class="form-control" placeholder="Input your name" maxlength="300" required="" style="border:0; width:100%;text-align:left;background:#495054;color:white;" label="" id="id_display_name">
                        <br>
                        <input type="text" name="hobby" class="form-control" placeholder="Input your hobby" maxlength="300" required="" style="border:0; width:100%;text-align:left;background:#495054;color:white;" label="" id="id_hobby">
                        <br>
                        <input type="text" name="favourite_food" class="form-control" placeholder="Input your favourite food or drinks" maxlength="300" required="" style="border:0; width:100%;text-align:left;background:#495054;color:white;" label="" id="id_favourite_food">
                        <br>
                        <input type="number" name="class_year" class="form-control" placeholder="Input your year" maxlength="4" required="" style="border:0; width:100%;text-align:left;background:#495054;color:white;" label="" id="id_class_year"> -->
                        {{ forms }}
                        <div class="row mb-5">
                            <input type="Submit" name="button_input" class="btn btn-primary" value="add" style="margin-top : 2%;text-align: center;margin-right: auto; margin-left: auto;border-radius: 18px;">
                        </div>
                    </form>
                    <div class="col" style="color: white; margin: 0 auto 0 auto;text-align: center;overflow-y: scroll; max-height: 200px; ">
                        {% for i in friend %}
                            <p>
                                {{ i.display_name }} - {{i.hobby}} - {{i.favourite_food}} - {{i.class_year}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
    </body>
    <foot style="position: absolute; top: 95%; width: 100%;">
        <p style="color: white; text-align: center;">
            <i>
                Ferdi Sungkar © 2020
            </i>
        </p>
    </foot>
</html>