@import url('https://fonts.googleapis.com/css?family=Convergence|Roboto&display=swap');
* {
    overflow-x: hidden !important;
}
.bg{
    background: url("Images/blueish.jpg") no-repeat center fixed;
    background-size: cover;
}
.bg2{
    background: url("Images/dark.jpg") no-repeat center fixed;
    background-size: cover;
}
.bg3{
    background: url("Images/bridge.jpg") no-repeat center fixed;
    background-size: cover;
}
.one{
    font-family: 'Arial', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 15px;

    color: #E3E8EA;
}
.two{
    background: #495054;
}
.nav-link{
    color: #E3E8EA;
}
html {
    scroll-behavior: smooth;
}
.my-profile-photo{
    height: 750px;
    padding-bottom: 27px;
    padding-top: 177px;
    padding-left: 50px;
    position: relative;
}
.white-photo{
    height: 750px;
    padding-bottom: 0px;
    padding-top: 204px;
    padding-left: 20px;
    position: absolute;
}
h1{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    padding-top: 250px;
    align-items: center;
    text-align: center;

    color: #E3E8EA;
}
h2{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin-top: 177px;
    padding-left: 0px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}
h3{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}
h4{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}
h5{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}
h6{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}
.h7{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding-top: 250px;
    align-items: center;
    text-align: center;

    color: #E3E8EA;
}